/* ROBOT.GIF from Giphy - https://giphy.com/gifs/robot-cinema-4d-eyedesyn-3o7abtn7DuREEpsyWY */
/* 03be141fa708403e8f070e69ecc35200 */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #824da6;
}

.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:url('./Tehsable.com-minion.gif');
  background-size:contain;
  background-position: left center;
  background-repeat: no-repeat;
}

button{
  cursor:pointer;
  outline:none;
  width: 200px;
  height: 50px;
  font-family:'Courier New', Courier,monos;
  font-size: 20px;
  color:#000;
  background:#993399;
  border: none;
  border-radius:5px;
  box-shadow: 2px 2px 20px 10px rgba(0,0,0,0.2);
}

button:hover{
  filter: brightness(95%);
}

button:active{
  transform: scale(0.98);
}

button:disabled{
  cursor:default;
  filter:brightness(30%);
}

@media screen and (max-width:1000px){
  .container{
    background-position: center center;
    background-size: cover;
  }
}

button{
  box-shadow: 5px 5px 30px 20px rgba(0,0,0,0.5);
}
